<html>
<body>
<h1>Hello, Insert Youtube or Soundcloud URL and it will be played on my Radio.</h1>
<h2>The Radio needs some time to download and convert the Song, smaching the shit out of the Submit Button wont solve that. And please do not insert Playlists.</h2>
<h3>You can listen to my Radio on 102.9 MHz.</h3>
<form action = "http://192.168.178.70:5000/nach" method = "POST">
<input type="text" name="url">
<input type="submit" value="Submit" onclick="alert('As long as your Song is Played this site wont load for anybody including you.')">
</form>
</body>
</html>
